.moduleC {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 80vmin;
}

.moduleC > div {
  text-align: center;
}

svg {
  flex: 1 1 auto;
}

.anim {
  fill: none;
  font-family: fantasy, cursive, sans-serif;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-dasharray: 70 150;
  stroke-dashoffset: 150;
  animation: stroke 5s infinite linear;
  font-size: 1rem;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
